<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome to CarStacks</h1>
    <% if (numListings > 0) { %>
        <h2>We have <%= numListings %>  cars listed for sale!</h2>
    <% } else { %>
        <h2>Oh no! The database is empty!</h2>
    <% } %>
    
    <a href="/listings">View Listings!</a>
    <br>
    <a href="/users">View Users!</a>
</body>
</html>